[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
lxml = "*"
pipenv = "*"
python-docx = "*"
virtualenv = "*"
virtualenv-clone = "*"

[dev-packages]

[requires]
python_version = "3.6"
